.project-last-commit {
  min-height: 4.75rem;
}

.tree-holder {
  .nav-block {
    margin: 16px 0;

    .btn .fa,
    .btn svg {
      color: $gl-text-color-secondary;
    }

    @include media-breakpoint-up(sm) {
      display: flex;

      .tree-ref-container {
        flex: 1;
      }

      .tree-controls {
        text-align: right;

        .control {
          float: left;
          margin-left: 10px;
        }
      }

      .tree-ref-holder {
        float: left;
        margin-right: 15px;
      }

      .tree-ref-target-holder {
        display: inline-block;
      }

      .repo-breadcrumb {
        li:last-of-type {
          position: relative;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .repo-breadcrumb {
      margin-top: 10px;
      position: relative;

      .dropdown-menu {
        min-width: 100%;
        width: 100%;
        left: inherit;
        right: 0;
      }
    }

    .add-to-tree-dropdown {
      position: absolute;
      left: 0;
      right: 0;
    }

    .tree-controls {
      margin-bottom: 10px;

      .btn:not(.dropdown-toggle-split),
      .dropdown,
      .btn-group {
        width: 100%;
      }

      .btn {
        margin-top: 10px;
      }
    }
  }

  .file-finder {
    max-width: 500px;
    width: 100%;

    .file-finder-input {
      width: 95%;
      display: inline-block;
    }
  }

  .add-to-tree {
    vertical-align: top;
    padding: 8px;

    svg {
      top: 0;
    }
  }

  .tree-table {
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $white-normal;
      border-top: 1px solid $white-normal;

      &:last-of-type {
        border-bottom-color: $white;
      }

      td,
      th {
        line-height: 21px;
      }

      th {
        border-top-color: $gray-light;
      }

      td {
        border-color: $border-color;
      }

      &:hover:not(.tree-truncated-warning) {
        td {
          background-color: $blue-50;
          background-clip: padding-box;
          border-top: 1px solid $blue-200;
          border-bottom: 1px solid $blue-200;
          cursor: pointer;
        }
      }

      &.selected {
        td {
          background: $white-normal;
          border-top: 1px solid $border-white-normal;
          border-bottom: 1px solid $border-white-normal;
        }
      }
    }
  }

  .tree-item {
    .link-container {
      padding: 0;

      a {
        padding: 10px $gl-padding;
        display: block;
      }
    }

    .tree-item-file-name {
      max-width: 320px;
      vertical-align: middle;

      i,
      a {
        color: $gl-text-color;
      }

      img {
        position: relative;
        top: -1px;
      }
    }

    .tree-item-file-external-link {
      margin-right: 4px;

      span {
        text-decoration: inherit;
      }
    }
  }

  .tree-truncated-warning {
    color: $orange-600;
    background-color: $orange-50;
  }

  .tree-time-ago {
    min-width: 135px;
    color: $gl-text-color-secondary;
  }

  .tree-commit {
    max-width: 320px;
    color: $gl-text-color-secondary;

    .tree-commit-link {
      color: $gl-text-color-secondary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.blob-commit-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blob-content-holder {
  margin-top: $gl-padding;
}

.blob-upload-dropzone-previews {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px;
  border-style: dashed;
  border-color: $border-color;
  min-height: 200px;
}

.upload-link {
  font-weight: $gl-font-weight-normal;
  color: $blue-600;
}

.repo-charts {
  .sub-header {
    margin: 20px 0;
  }

  .sub-header-block.border-top {
    margin-top: 20px;
    padding: 0;
    border-top: 1px solid $white-dark;
    border-bottom: 0;
  }

  .commit-stats li {
    font-size: 16px;
  }

  .tree-ref-header {
    margin-bottom: 20px;

    h4 {
      margin: 0;
      line-height: 36px;
    }
  }
}
